<div class="buttons">
    <div class="pull-right">
        <a href="{{ widget_link }}" title="Pay with FasterPay" class="btn btn-primary" style="text-shadow: none;font-family: ProximaNovaSemiBold;">
        	<span style="position: relative;top: 2px;">Pay with&nbsp;</span>
        	<img src="catalog/view/theme/default/image/payment/fp_logo_light.png" style="width:80px;"/>
        </a>
    </div>
</div>
<style>
	@font-face {
		font-family: ProximaNovaSemiBold;
		src: url('catalog/view/theme/default/image/payment/Proxima-Nova-Semibold.ttf');
	}
</style>